<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Observatory.Properties.Observatory" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Observatory.Properties.NotifyCriteria" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Observatory.Properties.Observatory>
            <setting name="LandWithTerra" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LandWithAtmo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LandHighG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseOrbit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShepherdMoon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseBinary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CollidingBinary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NestedMoon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TinyObject" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FastRotate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FastOrbit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighEccentric" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GoodJump" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllJumpSystem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllJumpBody" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VeryInteresting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Notify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TTS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyTemplate" serializeAs="String">
                <value>%time% - %bodyL% - %info% - %detail%</value>
            </setting>
            <setting name="CustomRules" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FSDBoostSynthName" serializeAs="String">
                <value>jumponium</value>
            </setting>
            <setting name="LandLarge" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WideRing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TTSVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SettingsImport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RingHugger" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RingLandable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="EnableTelegram" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TelegramAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="TelegramChatId" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludeCodex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendToIGAU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRead" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoMonitor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JournalPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AllMaterialSystem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FrontierToken" serializeAs="String">
                <value />
            </setting>
            <setting name="UseCapi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoClearList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SecondaryStars" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseEDOverlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EDONotificationX" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="EDONotificationY" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="EDONotificationTimeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="EDOHeaderColor" serializeAs="String">
                <value>#dd5500</value>
            </setting>
            <setting name="EDOBodyColor" serializeAs="String">
                <value>#ffffff</value>
            </setting>
        </Observatory.Properties.Observatory>
        <Observatory.Properties.NotifyCriteria>
            <setting name="SimpleString" serializeAs="String">
                <value/>
            </setting>
        </Observatory.Properties.NotifyCriteria>
    </userSettings>
</configuration>
